@import 'normalize.css';
body {
  overflow: hidden;
/*font-family: 'Bad Script', cursive;*/
  font-family: 'Roboto', serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
}
body * {
  box-sizing: border-box;
}
.mj-login__overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.15);
}
.mj-login__additional {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mj-login__additional>* {
  margin-bottom: 10px;
}
.mj-login__box {
  background-color: #fff;
  padding: 40px 60px 10px;
  max-width: 420px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 8px 32px -16px #000;
}
.mj-login__box>* {
  margin-bottom: 20px;
  width: 100%;
}
.mj-login__header {
  line-height: 35px;
}
.mj-login__description {
  opacity: 0.5;
}
.mj-input {
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.15);
  padding-left: 5px;
}
.mj-input._error {
  border: 1px solid rgba(120,0,0,0.5);
}
.mj-input._error:after {
  content: "This does not look like an email.";
}
.mj-button {
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 120%;
/*border: none;*/
  border-radius: 4px;
  background-color: #50c8f0;
  transition: 0.15s all ease-in-out;
  cursor: pointer;
  border: 1px solid #67cff2;
}
.mj-button:hover {
  background-color: #67cff2;
}
.mj-button._error {
  background-color: #fff;
  cursor: default;
}
.mj-link {
  text-decoration: none;
  color: #505050;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(80,200,240,0.15);
  transition: 0.15s all ease-in-out;
}
.mj-link:hover {
  border-bottom: 1px solid rgba(80,200,240,0.5);
}
.mj-logout {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
}
.mj-calendar__form {
  position: absolute;
  background-color: #fff;
  padding: 4px 2px;
  z-index: 250;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  display: flex;
  box-shadow: 0 8px 32px -16px #000;
}
.mj-calendar__form>* {
  margin: 0 2px;
  min-width: 140px;
  white-space: nowrap;
}
.mj-calendar__form .mj-button {
  text-align: center;
}
.mj-calendar__form .mj-input {
  margin-bottom: 0;
}
.mj-calendar__form .mj-input:first-child {
  min-width: 400px;
}
.ui-datepicker {
  border: none !important;
  background: #fff !important;
  box-shadow: 0 4px 8px -4px rgba(0,0,0,0.25);
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ui-datepicker-header {
  padding: 10px 20px;
  display: flex;
  background: none !important;
  color: #50c8f0;
  border: none !important;
}
.ui-datepicker-calendar thead th {
  font-weight: 200;
  font-size: 80%;
  opacity: 0.25;
}
.ui-state-default {
  width: 100%;
  min-width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #50c8f0;
  font-family: 'Roboto', serif;
  border: none !important;
  background: none !important;
  font-weight: 200;
  font-size: 12px;
  padding: 10px;
}
.ui-state-hover {
  background: rgba(80,200,240,0.15) !important;
  color: #50c8f0 !important;
}
.ui-datepicker-prev {
  order: 1;
}
.ui-datepicker-title {
  order: 2;
  color: #505050;
}
.ui-datepicker-next {
  order: 3;
}
.trip-popup {
  transition: visibility 0s, opacity 0.25s ease-in-out;
}
.trip-popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.trip-popup__overlay .mj-link {
  font-size: 110%;
}
.trip-popup__black {
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
}
.trip-popup__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  background-color: #fff;
  min-width: 400px;
  z-index: 1200;
  transition: all 0.25s ease-in-out;
  border-radius: 2px;
}
.trip-popup__box._login {
  max-width: 400px;
  min-width: 400px;
}
.trip-popup__box._login .trip-popup__input {
  font-size: 120%;
}
.trip-popup__title {
  font-size: 160%;
  text-align: center;
  margin-bottom: 20px;
}
.trip-popup__title._sub {
  font-size: 90%;
  opacity: 0.5;
}
.trip-popup__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.trip-popup__input {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #dcdcdc;
/*background-color: rgba(0, 0, 0, .1);*/
  transition: all 0.15s ease-in-out;
  border-radius: 0;
  outline: 2px solid transparent;
}
.trip-popup__inputWrap {
  position: relative;
}
.trip-popup__inputWrap input {
  width: 100%;
}
.trip-popup__input:focus {
  background-color: rgba(0,0,0,0.05);
  border-bottom: 2px solid #50c8f0;
/*outline: 2px solid alpha($c-main, .25);*/
}
.trip-popup__input._area {
  border: 2px solid #dcdcdc;
  max-width: 100%;
  height: 100px;
  line-height: 25px;
  resize: none;
}
.trip-popup__input._area:focus {
  background-color: rgba(0,0,0,0.05);
  border-bottom: 2px solid #50c8f0;
/*outline: 2px solid alpha($c-main, .25);*/
}
.js-hidden {
  visibility: hidden;
  opacity: 0;
}
.js-hidden .trip-popup__box {
  transform: translateX(-50%) translateY(-45%);
  opacity: 0;
}
.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  top: 50px;
  border-radius: 0;
  background-image: none;
  border: none !important;
  outline: none;
  background-color: #fff;
  box-shadow: 0 4px 16px -4px rgba(0,0,0,0.25);
}
.ui-autocomplete .ui-menu-item {
  height: 40px;
  line-height: 40px;
}
.ui-autocomplete .ui-menu-item a {
  display: block;
  padding-left: 10px;
}
.ui-autocomplete .ui-menu-item a.ui-state-focus {
  background-image: none;
  background: #50c8f0;
  border: none;
  border-radius: 0;
  color: #fff;
  font-weight: 400;
}
.mj-counter__graph {
  stroke: #50c8f0;
  stroke-weight: 0.25px;
  opacity: 0.5;
}
.mj-counter__marker {
  fill: #50c8f0;
}
.trip-plan {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  align-items: center;
}
.trip-stop {
  margin-bottom: 40px;
}
